.productsContainer__group-card
  background: #d5d5d5
  width: 30rem
  height: 45rem
  border: 0.2rem solid #ccc
  margin-right: 2rem
  margin-bottom:  3rem
  padding: 0.5rem
  display: flex
  align-items: center
  flex-direction: column
  border-radius: 3rem 3rem 3rem 3rem
  &__img
    margin-top: 2rem
    border: 0.2rem solid #ccc
    width: 25rem
    height: 27rem
    border-radius: 5rem 5rem 5rem 5rem
    box-shadow: 0.2rem 0.4rem 0.5rem #a7a7a7
  &__name
    margin-top: 1rem
    font-size: 2rem
    color: #2e3e7e
    font-weight: 700
  &__price
    margin-top: 1rem
    font-size: 2rem
    color: #2e3e7e
    font-weight: 700
  &__button
    margin-top: 1rem
    width: 10rem
    height: 3rem
    background: orange
    font-size: 2rem
    display: flex
    align-items: center
    justify-content: center
    border-radius: 1rem 1rem 1rem 1rem
    font-weight: 600
    color: #2e3e7e
    &:hover
      transition: transform 0.4s 
      transform: translateY(-0.3rem)
      background: #2e3e7e
      color: #FFFFFF
  &__dotcontainer
      width: 22rem
      height: 4rem
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      gap: 1rem
      &__circle
        width: 2rem
        height: 2rem
        border-radius: 50%
        box-shadow: 0.1rem 0.1rem 0.2rem #5b5b5b

